.hidden-mobile {
    display: block;
}
.show-on-mobile {
    display: none;
}

@media (max-width: 768px) {
    .hidden-mobile {
        display: none !important;
    }
    .show-on-mobile {
        display: block !important;
    }
}

@media (max-width: 768px) {
    .hidden-mobile {
        display: none !important;
    }
}